apiVersion: v1
kind: ConfigMap
metadata:
  name: coredns
  namespace: kube-system
data:
  Corefile: |
    .:53 {
        errors
        health {
           lameduck 5s
        }
        ready
        hosts {
          172.18.0.2 garden.local.gardener.cloud
          172.18.0.2 registry.local.gardener.cloud
          172.18.0.2 gardener.virtual-garden.local.gardener.cloud
          172.18.0.2 api.virtual-garden.local.gardener.cloud
          172.18.0.2 dashboard.ingress.runtime-garden.local.gardener.cloud
          172.18.0.2 api.hello-gardener.local.external.local.gardener.cloud
          fallthrough
        }
        kubernetes cluster.local in-addr.arpa ip6.arpa {
           pods insecure
           fallthrough in-addr.arpa ip6.arpa
           ttl 30
        }
        prometheus :9153
        forward . /etc/resolv.conf {
           max_concurrent 1000
        }
        cache 30 {
           disable success cluster.local
           disable denial cluster.local
        }
        loop
        reload
        loadbalance
    }
